<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Neolution Coding Style (Debug)" Description="These rules can discover critical problems in your code, including potential security holes, application crashes, and other important logic and design errors. Include this rule set in any custom rule set you create for your projects." ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS1030" Action="None" />
    <Rule Id="CS1591" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0001" Action="None" />
    <Rule Id="IDE0003" Action="None" />
    <Rule Id="IDE0003WithoutSuggestion" Action="None" />
    <Rule Id="IDE0004WithoutSuggestion" Action="None" />
    <Rule Id="IDE0005" Action="None" />
    <Rule Id="IDE0007WithoutSuggestion" Action="None" />
    <Rule Id="IDE0008" Action="None" />
    <Rule Id="IDE0008WithoutSuggestion" Action="None" />
    <Rule Id="IDE0009WithoutSuggestion" Action="None" />
    <Rule Id="IDE0010" Action="Info" />
    <Rule Id="IDE0010WithoutSuggestion" Action="None" />
    <Rule Id="IDE0011WithoutSuggestion" Action="None" />
    <Rule Id="IDE0016WithoutSuggestion" Action="None" />
    <Rule Id="IDE0017" Action="Info" />
    <Rule Id="IDE0017WithoutSuggestion" Action="None" />
    <Rule Id="IDE0018WithoutSuggestion" Action="None" />
    <Rule Id="IDE0019WithoutSuggestion" Action="None" />
    <Rule Id="IDE0020WithoutSuggestion" Action="None" />
    <Rule Id="IDE0028WithoutSuggestion" Action="None" />
    <Rule Id="IDE0029WithoutSuggestion" Action="None" />
    <Rule Id="IDE0030WithoutSuggestion" Action="None" />
    <Rule Id="IDE0031WithoutSuggestion" Action="None" />
    <Rule Id="IDE0032WithoutSuggestion" Action="None" />
    <Rule Id="IDE0034WithoutSuggestion" Action="None" />
    <Rule Id="IDE0036WithoutSuggestion" Action="None" />
    <Rule Id="IDE0037WithoutSuggestion" Action="None" />
    <Rule Id="IDE0038WithoutSuggestion" Action="None" />
    <Rule Id="IDE0039WithoutSuggestion" Action="None" />
    <Rule Id="IDE0040WithoutSuggestion" Action="None" />
    <Rule Id="IDE0041WithoutSuggestion" Action="None" />
    <Rule Id="IDE0042WithoutSuggestion" Action="None" />
    <Rule Id="IDE0045" Action="None" />
    <Rule Id="IDE0045WithoutSuggestion" Action="None" />
    <Rule Id="IDE0046" Action="None" />
    <Rule Id="IDE0046WithoutSuggestion" Action="None" />
    <Rule Id="IDE0048WithoutSuggestion" Action="None" />
    <Rule Id="IDE0049WithoutSuggestion" Action="None" />
    <Rule Id="IDE0050" Action="None" />
    <Rule Id="IDE0050WithoutSuggestion" Action="None" />
    <Rule Id="IDE0052" Action="None" />
    <Rule Id="IDE0053WithoutSuggestion" Action="None" />
    <Rule Id="IDE0054WithoutSuggestion" Action="None" />
    <Rule Id="IDE0056WithoutSuggestion" Action="None" />
    <Rule Id="IDE0057WithoutSuggestion" Action="None" />
    <Rule Id="IDE0058" Action="None" />
    <Rule Id="IDE0062WithoutSuggestion" Action="None" />
    <Rule Id="IDE0063WithoutSuggestion" Action="None" />
    <Rule Id="IDE0065" Action="None" />
    <Rule Id="IDE0066WithoutSuggestion" Action="None" />
    <Rule Id="IDE0071WithoutSuggestion" Action="None" />
    <Rule Id="IDE0072" Action="Info" />
    <Rule Id="IDE0072WithoutSuggestion" Action="None" />
    <Rule Id="IDE0073WithoutSuggestion" Action="None" />
    <Rule Id="IDE0074WithoutSuggestion" Action="None" />
    <Rule Id="IDE0075WithoutSuggestion" Action="None" />
    <Rule Id="IDE0080WithoutSuggestion" Action="None" />
    <Rule Id="IDE1005WithoutSuggestion" Action="None" />
    <Rule Id="IDE1006WithoutSuggestion" Action="None" />
    <Rule Id="RE0001WithoutSuggestion" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.Features" RuleNamespace="Microsoft.CodeAnalysis.Features">
    <Rule Id="IDE0033WithoutSuggestion" Action="None" />
    <Rule Id="IDE0044WithoutSuggestion" Action="None" />
    <Rule Id="IDE0055WithoutSuggestion" Action="None" />
    <Rule Id="IDE0070WithoutSuggestion" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1054" Action="None" />
    <Rule Id="CA1056" Action="None" />
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA2200" Action="None" />
    <Rule Id="CA2227" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.CSharp.Analyzers" RuleNamespace="Microsoft.CodeQuality.CSharp.Analyzers">
    <Rule Id="CA1001" Action="None" />
    <Rule Id="CA2234" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetCore.Analyzers" RuleNamespace="Microsoft.NetCore.Analyzers">
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1308" Action="None" />
  </Rules>
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S1067" Action="Warning" />
    <Rule Id="S107" Action="Warning" />
    <Rule Id="S1075" Action="Info" />
    <Rule Id="S109" Action="Info" />
    <Rule Id="S1128" Action="None" />
    <Rule Id="S1135" Action="Info" />
    <Rule Id="S1151" Action="Warning" />
    <Rule Id="S1200" Action="Warning" />
    <Rule Id="S1244" Action="Warning" />
    <Rule Id="S1309" Action="Info" />
    <Rule Id="S134" Action="Warning" />
    <Rule Id="S138" Action="Warning" />
    <Rule Id="S2360" Action="Warning" />
    <Rule Id="S3776" Action="Warning" />
    <Rule Id="S4017" Action="Warning" />
    <Rule Id="S4049" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1005" Action="None" />
    <Rule Id="SA1133" Action="None" />
    <Rule Id="SA1629" Action="None" />
    <Rule Id="SA1633" Action="None" />
  </Rules>
</RuleSet>